body {
	

background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

#mapcontainer {
	height: 660px;
	width: 800px;
	position: absolute;
	border: 4px solid #282828;
	}

.header {
position: absolute;
margin: 0 0 50px 0;
font-family: verdana;
right: 0px;
width: 300px;
}

.description {
position: absolute;
margin: 0 50px 1px 0;
font-family: verdana;
right: 0px;
width: 360px;
}


